<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="css/about.css">
    
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="title">
                <h1>About Project</h1>
            </div>
            <div class="content">
                <div class="article">
                    <h3>It has happened so many times that you have been waiting on railway station for someone to arrive and you don’t have any exact information about train timing and other stuff. So here we present to you a project on Railway Tracking and Arrival Time Prediction. Using this system user’s can get the information about train timing, and is it on time or not, and other information. </h3>
                    <div class="button">
                        <a href=" ">Dashboard</a>
                    </div>
                </div>
            </div>
            <div class="image-section">
                <img src="css/img.jpeg" alt="">
                <div class="social">
                    <a href=""><i class="fab fa-facebook-f"></i></a>
                    <a href=""><i class="fab fa-twitter"></i></a>
                    <a href=""><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>